.about {

padding:100px 0;

background:#080f22;

}



.section-title {

text-align:center;

font-size:48px;

font-weight:900;

color:white;

margin-bottom:10px;

}



.title-line {

width:45px;

height:4px;

background:#635bff;

margin:0 auto 50px;

border-radius:10px;

}





.about-container {


display:grid;

grid-template-columns:2fr 0.8fr;

gap:50px;

align-items:start;


}





.about-left {


display:flex;

flex-direction:column;

gap:30px;


}





.about-card {


background:

rgba(255,255,255,0.06);


border:

1px solid rgba(255,255,255,.08);


border-radius:15px;


padding:28px;


backdrop-filter:blur(20px);


transition:.3s;


}



.about-card:hover {


transform:translateY(-5px);


border-color:#635bff;


}




.about-card h3 {


color:white;

font-size:20px;

margin-bottom:18px;

}



.about-card p {


color:rgba(255,255,255,.75);

font-size:15px;

line-height:1.8;


}





.about-card ul {


padding-left:20px;


}



.about-card li {


color:#c7d2fe;

margin-bottom:15px;

font-size:15px;


}





.stats-card {


background:

linear-gradient(

180deg,

#5b4bff,

#4338ca

);



border-radius:18px;


padding:35px 20px;


box-shadow:

0 20px 50px rgba(99,102,241,.35);



}





.stat {


text-align:center;

margin-bottom:35px;


}



.stat:last-child {


margin-bottom:0;


}




.stat h2 {


font-size:40px;

font-weight:900;

color:white;

margin-bottom:8px;


}



.stat p {


color:white;

opacity:.85;

font-size:14px;


}





@media(max-width:900px){


.about-container{

grid-template-columns:1fr;

}


.stats-card{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}


}



@media(max-width:500px){


.section-title{

font-size:36px;

}


.stats-card{

grid-template-columns:1fr;

}


}
