.about {

padding:100px 0;
background:#0b1326;

}


/* TITLE */

.section-title {

text-align:center;
font-size:48px;
font-weight:900;
color:white;

}


.title-line {

width:45px;
height:4px;
background:#635bff;
margin:15px auto 50px;
border-radius:10px;

}



/* Layout */

.about-container {

display:grid;
grid-template-columns:2fr .8fr;
gap:50px;

}



.about-left {

display:flex;
flex-direction:column;
gap:30px;

}




/* CARDS */

.about-card {

background:#202c42;

padding:28px;

border-radius:14px;

transition:.35s;

}



.about-card:hover {

background:#293751;

}




/* ICONS */

.about-card h3 {

color:white;

font-size:20px;

font-weight:800;

display:flex;

align-items:center;

gap:12px;

}



.about-card h3::first-letter {

color:#635bff;

transition:.3s;

}



.about-card:hover h3 {

color:#ffffff;

}



.about-card:hover h3::first-letter {

color:#a78bfa;

}



/* TEXT */


.about-card p {

color:#d5ddf5;

line-height:1.8;

font-size:16px;

}





/* SPECIALITIES */


.about-card li {

color:#d5ddf5;

margin-bottom:18px;

cursor:pointer;

transition:.25s;

}



.about-card li:hover {

color:#ffffff;

transform:translateX(8px);

}





.about-card li::marker {

color:#635bff;

}



/* STAT BOX */


.stats-card {

background:

linear-gradient(
180deg,
#5b4bff,
#4534d5
);


border-radius:18px;

padding:35px 20px;

overflow:hidden;

}





.stat {

text-align:center;

margin-bottom:40px;


/* animation */

opacity:0;

transform:translateY(-60px);

animation:statsDown .8s forwards;


}



.stat:nth-child(1){
animation-delay:.2s;
}


.stat:nth-child(2){
animation-delay:.4s;
}


.stat:nth-child(3){
animation-delay:.6s;
}


.stat:nth-child(4){
animation-delay:.8s;
}




@keyframes statsDown {


from{

opacity:0;

transform:translateY(-60px);

}


to{

opacity:1;

transform:translateY(0);

}


}




.stat h2 {


font-size:42px;

font-weight:900;

color:white;

margin:0;


}



.stat p {

color:white;

font-size:14px;

}





/* Responsive */


@media(max-width:900px){

.about-container{

grid-template-columns:1fr;

}


}
